@model Dish

<div class="container">
    <div class="text-center row">
        <h2>Add a new Dish!</h2>  
    </div>
            <form asp-action="Create" asp-controller="Home" method="post">
                    <div class="row">
                        <div class="col">
                            <label asp-for="ChefName">Chef's Name</label>
                               <span class="text-danger font-weight-bold" asp-validation-for="ChefName"></span>
                            <input type="text" class="form-control" asp-for="ChefName" >
                            <br>
                            <label asp-for="DishName">Dish Name</label>
                             <span class="text-danger font-weight-bold" asp-validation-for="DishName"></span>
                            <input type="text" class="form-control" asp-for="DishName" >
                            <br>
                            <label asp-for="Calories">Calories</label>
                             <span class="text-danger font-weight-bold" asp-validation-for="Calories"></span>
                            <input type="text" class="form-control" asp-for="Calories" >
                    </div>
                        <div class="col">
                            <label asp-for="Toastiness">Toastiness</label>
                             <span class="text-danger font-weight-bold" asp-validation-for="Toastiness"></span>
                            <select class="form-control" asp-for="Toastiness">
                            <option selected>Choose...</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
      </select>
                        </div>
                           <div class="col">
                            <label asp-for="Description">Description</label>
                             <span class="text-danger font-weight-bold" asp-validation-for="Description"></span>
                            <textarea class="form-control" rows="3"asp-for="Description"></textarea>
                            <button class="btn btn-success mt-5" type="submit">Add Dish</button>
                        </div>
  </div>
</form>
        </div>
       
    </div>
</div>
